
svg .bg {
	fill: #fff;
    fill-opacity: 1;
    cursor: pointer;
}
svg .bg:hover {
    fill: #ddd;
}

svg .states {
    stroke-width: 0.6;
    cursor: pointer;
    fill-opacity: 0;
}
svg .states:hover {
    *fill: #f9f9f9;*\
    fill-opacity: 0.8;
}

