  <div class="map-container" ng-class="user.username == 'Verunka' && 'vip'">
    <center>
    <div class="map-positioner">
      <h1> {{part}}</h1>
      <div id="map-holder">
      </div>
    </div>
    <div class="progress">
      <div class="bar" style="width: {{progress}}%;"></div>
    </div>
    </center>
  </div>
  <div id="container" class="span12 well" ui-keypress="{enter: 'next()'}">
      <div ng-show="question == undefined">

      </div>
      <div ng-show="question != undefined && !showSummary">
          <h2><span>{{question.text}} </span>
              <span class="label" ng-show="question.type == 0">
                <i class="flag-{{question.code}}"></i> {{question.place}}
              </span>
              <br class="clearfix">
          </h2>
          <span class="span7">
          <span ng-show="question.type == 1">
              <select class="starters" ng-model="starterLetters" ng-change="openPlacesSelect()">
                <option ></option>
                <option ng-repeat="starter in places | starters" value="{{starter}}">{{starter | shorten}}</option>
              </select>
              <select class="select2" ng-model="select">
                <option ></option>
                <option ng-repeat="place in places | starterLettersFilter : starterLetters" value="{{place.code}}">{{place.name}}</option>
              </select>
              <button class="btn btn-large {{canNext || 'btn-primary'}}" ng-click="check(select)" ng-disabled="!select || canNext" >Zkontrolovat</button>
          </span>
          <span ng-show="question.type == 2">
              <button ng-repeat="place in options" value="{{place.code}}" class="btn btn-large" ng-click="check(place.code)">
                 <i class="flag-{{place.code}}"></i> {{place.name}}
              </button>
          </span>
          </span>
          <span class="span4" >
              <button class="btn btn-large" ng-click="check()" ng-disabled="canNext" >Nevím</button>
              <button class="btn btn-large {{!canNext || 'btn-primary'}}" ng-click="next()" ng-disabled="!canNext" >Pokračovat</button>
          </span>
      </div>
      <div ng-show="showSummary">
        <div>
        <div class="progress" ng-show="summary != undefined">
          <div class="bar bar-success" style="width: {{summary.correctlyAnsweredRatio | percent }};">Úspěšnost: {{summary.correctlyAnsweredRatio | percent }}</div>
        </div>
        <h2 ng-show="errorMessage != undefined" ng-bind="errorMessage"></h2>
        <div>
            <span ng-repeat="q in summary.questions" class="label {{q.code != q.answer && 'label-important' || 'label-success' }} ">
            <i class="flag-{{q.code}}"></i> {{q.place}}
            </span>
        </div>
        </div>
          <span class="pull-right" >
              <a class="btn btn-large {{!showSummary || 'btn-primary'}}" href="#/view/{{part}}/" >Pokračovat</a>
          </span>
      </div>
      <div class="clearfix"></div>
  </div>
