$gray-top: #fff
$gray-bottom: #eee

body
  overflow-y: scroll
  font-size: 1.5em
  li
    list-style-type: none

h1, h2, h3
  font-weight: bold

ul
  padding: 0px
  margin: 0px

ul.dropdown-menu.login
  padding-top: 10px
  li
    margin: 0 10px 10px 10px
    width: 200px
  a.btn
    color: white
    i
      float: left
      margin: -5px 0 -10px -10px
  a.btn.btn-danger:hover
    background: #d43f3a
  a.btn.btn-primary:hover
    background-color: #3276b1

.dropdown
  i.icon-user
    opacity: 0.5
  a:hover i.icon-user, a:focus i.icon-user, &.open i.icon-user
    opacity: 1

.navbar 
  margin-bottom: 0px
  border-radius: 0px

.version
  border: 0px none currentColor
  right: 0px
  top: 0px
  position: absolute

.vip
  .map-container
    background: url(../img/flower_bg.jpg) bottom right

.loading-indicator
  background: url(../img/ajax-loader.gif) no-repeat center
  min-height: 128px
  width: 100%
  height: 100%
  margin-top: 30px

.view-places
  margin: 10px

#container
  margin-left: auto
  margin-right: auto
  float: none
  position: relative

.label
  margin-right: 10px
  margin-top: 5px
  padding-bottom: 5px
  cursor: default

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none

html, body
  height: 100%

#wrap 
  min-height: 100%
  padding-bottom: 30px

#footer
  background: -webkit-linear-gradient(top, $gray-top, $gray-bottom)
  background: -moz-linear-gradient(top, $gray-top, $gray-bottom)
  background: -o-linear-gradient(top, $gray-top, $gray-bottom)
  background: -ms-linear-gradient(top, $gray-top, $gray-bottom)
  color: #666
  text-align: center
  clear: both
  position: relative
  z-index: 10
  margin-top: -30px
  padding-top: 5px
  min-height: 30px
  .contact
    margin: 0 5px 0 5px


#ng-view
  position: relative
  min-height: 500px
  height: auto
  min-height: 100%

.old-browser
  margin: 0
  text-align: center
