@media (max-width: 767px)
  .version
    display: none
  .map-container
    height: auto
    h1
      text-align: left
      bottom: -3px
      left: 90px
      top: auto
  .welcome-page
    p
      padding: 10px
  .navbar
    margin-bottom: 0px
    
  .welcome-page.jumbotron
    font-size: 1em
    h1
      font-size: 3em
      padding-top: 10px
    p
      font-size: 0.65em
      padding: 5px
    .main-paragraph
      font-size: 1em
  .jumbotron 
    padding: 0 0 20px 0
  h2
    font-size: 16px
  .well
    padding: 0px
  .map-container
    #map-holder
      width: 100%
  .practice 
    .btn-lg
      padding: 3px 10px
      font-size: 13.9px
      -webkit-border-radius: 3px
      -moz-border-radius: 3px
      border-radius: 3px
      [class^="flag-"], [class^="icon-"], [class*=" icon-"]
        margin-top: 0
    .question 
      font-size: 16px
      margin: 0
      padding: 5px 
      span
        float: none
        margin: 0
      .label
        font-size: 11.844px
        line-height: 14px
  .quesions-progress
    margin-bottom: 0
  #footer
    font-size: 0.7em
    padding 10px
    
@media (min-width: 767px)
  $huge-radius: 9px
  .btn-huge
    padding: 21px 29px
    font-size: 27.5px
    -webkit-border-radius: $huge-radius
    -moz-border-radius: $huge-radius
    border-radius: $huge-radius