svg
  .bg
    stroke-width: 1.5
  .state, .city, .river, .lake, .mountains
    cursor: pointer
  .state, .city, .lake, .mountains
    fill-opacity: 1
  .state, .lake, .mountains
    &:hover
      fill-opacity: 0.8
  .lake
    stroke: #53a5df
