.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .btn-block + .btn-block {
    margin-top: 5px; }

input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
  width: 100%; }

.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
  color: rgba(255, 255, 255, 0.75); }

button.btn, input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px; }

button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0; }

button.btn.btn-large, input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px; }

button.btn.btn-small, input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px; }

button.btn.btn-mini, input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px; }

.label, .badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline; }

.label {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

@media (max-width: 767px) {
  .navbar-fixed-top {
    position: relative;
    top: auto; } }
body {
  overflow-y: scroll;
  font-size: 1.5em; }
  body li {
    list-style-type: none; }

h1, h2, h3 {
  font-weight: bold; }

ul {
  padding: 0px; }

ul.dropdown-menu.login {
  padding-top: 10px; }
  ul.dropdown-menu.login li {
    margin: 0 10px 10px 10px;
    width: 200px; }
  ul.dropdown-menu.login a.btn {
    color: white; }
    ul.dropdown-menu.login a.btn i {
      float: left;
      margin: -5px 0 -10px -10px; }
  ul.dropdown-menu.login a.btn.btn-danger:hover {
    background: #d43f3a; }
  ul.dropdown-menu.login a.btn.btn-primary:hover {
    background-color: #3276b1; }

.dropdown i.icon-user {
  opacity: 0.5; }
.dropdown a:hover i.icon-user, .dropdown a:focus i.icon-user, .dropdown.open i.icon-user {
  opacity: 1; }

.navbar {
  margin-bottom: 0px;
  border-radius: 0px; }

.version {
  border: 0px none currentColor;
  right: 0px;
  position: absolute;
  top: 50px;
  z-index: 5; }

.vip .map-container {
  background: url(../img/flower_bg.jpg) bottom right; }

.loading-indicator {
  background: url(../img/ajax-loader.gif) no-repeat center;
  min-height: 128px;
  width: 100%;
  height: 100%;
  margin-top: 30px; }

.view-places {
  margin: 10px; }

#container {
  margin-left: auto;
  margin-right: auto;
  float: none;
  position: relative; }
  #container h2 {
    padding-left: 30px; }

.thumbnails {
  overflow: hidden; }
  .thumbnails li {
    background: #eeeeee;
    margin-bottom: -99999px;
    padding-bottom: 99999px; }
  .thumbnails li:nth-child(even) {
    background: #e7e7e7; }
  .thumbnails h3 {
    background: rgba(0, 0, 0, 0.05);
    margin: 0px -15px 0px -15px;
    padding: 10px;
    padding-left: 30px; }
    .thumbnails h3 .btn {
      margin-top: -5px; }

.label {
  margin-right: 10px;
  margin-top: 5px;
  padding-bottom: 5px;
  cursor: default; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none; }

html, body {
  height: 100%; }

#wrap {
  min-height: 100%;
  padding-bottom: 30px; }

#footer {
  background: -webkit-linear-gradient(top, white, #eeeeee);
  background: -moz-linear-gradient(top, white, #eeeeee);
  background: -o-linear-gradient(top, white, #eeeeee);
  background: -ms-linear-gradient(top, white, #eeeeee);
  color: #666666;
  text-align: center;
  clear: both;
  position: relative;
  z-index: 10;
  margin-top: -30px;
  padding-top: 5px;
  min-height: 30px; }
  #footer .contact {
    margin: 0 5px 0 5px; }

#ng-view {
  position: relative;
  min-height: 500px;
  height: auto;
  min-height: 100%; }

.view-enter-setup, .view-leave-setup, .slide-enter-setup, .slide-leave-setup, .wave-enter-setup, .wave-leave-setup {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -ms-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s; }

.view-enter-setup {
  opacity: 0; }
  .view-enter-setup.view-enter-start {
    opacity: 1; }

.view-leave-setup {
  opacity: 1; }
  .view-leave-setup.view-leave-start {
    opacity: 0; }

.welcome-page.jumbotron h1 {
  font-size: 3em;
  position: relative;
  text-align: center;
  left: 0; }
.welcome-page.jumbotron p {
  font-size: 0.75em;
  padding: 30px;
  line-height: 150%; }
.welcome-page.jumbotron [class*="col-"] {
  float: none; }
.welcome-page.jumbotron .block-welcome_page {
  font-size: 1.25em;
  padding: 30px;
  line-height: 150%; }

.how-it-works {
  align: center;
  background: #eeeeee;
  margin-top: -30px;
  padding: 20px; }
  .how-it-works h2 {
    text-align: center; }
  .how-it-works .works-div {
    text-align: justify; }

@media (min-width: 767px) {
  .btn-huge {
    padding: 21px 29px;
    font-size: 27.5px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px; } }
.map-container {
  background-color: #73c5ef;
  background: -#34dddd;
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8), 0 0 0px rgba(0, 0, 0, 0.075);
  position: relative; }
  .map-container h1 {
    position: absolute;
    left: 10px;
    top: 0px;
    z-index: 6; }
  .map-container .zoom-btn {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 7; }
  .map-container #map-holder {
    height: 500px;
    position: relative;
    width: 100%; }
  .map-container .loading-indicator {
    background-image: url(../img/map-ajax-loader.gif);
    margin-top: 0px; }
  .map-container .btn-practice {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 6; }
  .map-container .map-label {
    position: absolute;
    vertical-align: middle;
    display: table; }
    .map-container .map-label span {
      font-weight: bold;
      color: white;
      text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.8), 0 0 30px rgba(0, 0, 0, 0.075);
      position: relative;
      z-index: 10;
      display: table-cell;
      vertical-align: middle;
      line-height: 100%; }

.color-indicator {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 5px;
  margin-bottom: -5x;
  margin-left: 3px;
  border: 0;
  border-radius: 7px; }

.practice .btn {
  margin-left: 10px;
  margin-bottom: 10px; }
.practice h2 .label {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 0; }
.practice h2 span {
  float: left;
  margin-right: 20px; }

.quesions-progress {
  border-radius: 0;
  height: 10px;
  margin-bottom: 15px; }

[class^="social-"], [class*=" social-"] {
  background: url(../img/social.png) no-repeat top left;
  display: inline-block; }

.social-aim {
  background-position: 0 0;
  width: 32px;
  height: 32px; }

.social-behance {
  background-position: 0 -82px;
  width: 32px;
  height: 32px; }

.social-digg {
  background-position: 0 -164px;
  width: 32px;
  height: 32px; }

.social-dribbble {
  background-position: 0 -246px;
  width: 32px;
  height: 32px; }

.social-ember {
  background-position: 0 -328px;
  width: 32px;
  height: 32px; }

.social-evernote {
  background-position: 0 -410px;
  width: 32px;
  height: 32px; }

.social-facebook {
  background-position: 0 -492px;
  width: 32px;
  height: 32px; }

.social-flickr {
  background-position: 0 -574px;
  width: 32px;
  height: 32px; }

.social-forrst {
  background-position: 0 -656px;
  width: 32px;
  height: 32px; }

.social-github {
  background-position: 0 -738px;
  width: 32px;
  height: 32px; }

.social-google {
  background-position: 0 -820px;
  width: 32px;
  height: 32px; }

.social-last-fm {
  background-position: 0 -902px;
  width: 32px;
  height: 32px; }

.social-linkedin {
  background-position: 0 -984px;
  width: 32px;
  height: 32px; }

.social-paypal {
  background-position: 0 -1066px;
  width: 32px;
  height: 32px; }

.social-rss {
  background-position: 0 -1148px;
  width: 32px;
  height: 32px; }

.social-sharethis {
  background-position: 0 -1230px;
  width: 32px;
  height: 32px; }

.social-skype {
  background-position: 0 -1312px;
  width: 32px;
  height: 32px; }

.social-tumblr {
  background-position: 0 -1394px;
  width: 32px;
  height: 32px; }

.social-twitter {
  background-position: 0 -1476px;
  width: 32px;
  height: 32px; }

.social-vimeo {
  background-position: 0 -1558px;
  width: 32px;
  height: 32px; }

.social-wordpress {
  background-position: 0 -1640px;
  width: 32px;
  height: 32px; }

.social-yahoo {
  background-position: 0 -1722px;
  width: 32px;
  height: 32px; }

.social-youtube {
  background-position: 0 -1804px;
  width: 32px;
  height: 32px; }

.social-zerply {
  background-position: 0 -1886px;
  width: 32px;
  height: 32px; }

@media (max-width: 979px) {
  .version {
    display: none; } }
@media (max-width: 767px) {
  body {
    padding-top: 0px; }

  .map-container {
    height: auto; }
    .map-container h1 {
      text-align: left;
      bottom: -3px;
      left: 90px;
      top: auto; }

  .welcome-page p {
    padding: 10px; }

  .navbar {
    margin-bottom: 0px; }

  .welcome-page.jumbotron {
    font-size: 1em; }
    .welcome-page.jumbotron h1 {
      font-size: 3em;
      margin-top: 0px;
      padding-top: 10px; }
    .welcome-page.jumbotron p {
      font-size: 0.65em;
      padding: 5px; }
    .welcome-page.jumbotron .main-paragraph {
      font-size: 1em; }
    .welcome-page.jumbotron .flatblock {
      padding: 10px 0px; }

  .jumbotron {
    padding: 0 0 20px 0; }

  h2 {
    font-size: 16px; }

  .well {
    padding: 0px; }

  .map-container #map-holder {
    width: 100%; }

  .practice .btn-large {
    padding: 2px 10px;
    font-size: 11.9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    .practice .btn-large [class^="icon-"], .practice .btn-large [class*=" icon-"] {
      margin-top: 0; }
  .practice h2 .label {
    font-size: 11.844px;
    line-height: 14px; }

  #footer {
    font-size: 0.7em; } }
@media (min-width: 767px) {
  .btn-huge {
    padding: 21px 29px;
    font-size: 27.5px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px; } }

/*# sourceMappingURL=app.css.map */