*.py[co]
*.sw[po]
*.bak
*.orig
*~
.project
.pydevproject
sqlite3.db
.sass-cache
.settings
*.log
dist
Geography.egg-info
.django_cache
.ropeproject
node_modules
above-fold.css
above-fold.css.map
app.css
app.css.map
map.css
map.css.map
