*.py[co]
*.sw[po]
*.bak
*.mo
*.orig
*~
.project
.pydevproject
sqlite3.db
.sass-cache
.settings
*.log
dist
Geography.egg-info
.django_cache
.ropeproject
node_modules
static/hack/bboxcache.json
bower
bower_components
bower-libs*.js
bower-libs*.js.map
