<!DOCTYPE html>
<html data-ng-app="myApp" data-ng-controller="AppCtrl">
  <head>
    <meta charset="utf-8">
    <title>Zeměpis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="static/lib/css/bootstrap.css" rel="stylesheet">
    <link href="static/lib/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="static/lib/css/flags.css" rel="stylesheet">
    <link href="static/lib/select2/select2.css" rel="stylesheet">
    <link href="static/lib/colorbox.css" rel="stylesheet">
    <link href="static/lib/css/tips.css" rel="stylesheet">

    <link href="static/css/app.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar" onkeyup="inputKeyUp(event)">

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#/">Zeměpis</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li ng-class="{active : !mapData}">
                <a href="#/">Domů</a>
              </li>
            </ul>
          <div class="pull-right">
            <form id="login-form" style="margin: 0;" accept-charset="utf-8" method="post" action="" ng-submit="login()">
            <ul class="nav">
                <li class="dropdown" ng-show="user.username == ''">
                  <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Přihlásit se <b class="caret"></b></a>
                  <ul class="dropdown-menu login" role="menu" aria-labelledby="drop1">
                    <!--
                    <li><span data-gapiattached="true" class="signup-gplus btn small" id="gplusSignIn"><span class="icon"></span>Sign in with Google</span></li>
                    <li><span class="signup-facebook btn small"><span class="icon"></span>Sign in with Facebook</span></li>
                    <li class="or-divider"><hr><span>or</span></li>
                    -->
                    <li><input ng-model="username" name="username" autocomplete="on" type="text" placeholder="Uživatelské jméno"></li>
                    <li><input ng-model="password" name="password" autocomplete="on" type="password" placeholder="Heslo"></li>
                    <li id="message" class="login-fail"><div class="alert alert-error" ng-show="loginFail" ng-bind="loginFail"></div></li>
                    <li><button id="login-button" class="btn btn-primary input-block-level">Přihlásit se</button></li>
                    <!--
                    <li class="forgot-pwd"><a href="/#/forgot_password">Forgot password</a></li>
                    -->
                  </ul>
                </li>
                <li class="dropdown" ng-show="user.username != ''">
                  <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><span ng-bind="user.username"></span> <b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    <li class="forgot-pwd"><a href="#" ng-click="logout()">Odhlásit se</a></li>
                  </ul>
                </li>
              <li id="points" class="atooltip" title="Body">
                <a><span class="badge" ng-bind="user.points"></span></a>
              </li>
              <!--<li>
                <a href="#/">Nastavení</a>
              </li>-->
            </ul>
            </form>
          </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Main content 
    ================================================== -->
    <!--<a href="feedbackyform.html" id="fdbk_tab" class="fdbk_tab_left ">FEEDBACK</a>-->
    <div data-ng-view id="ng-view" ng-animate="{enter: 'view-enter'}"></div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/lib/js/jquery-2.0.2.min.js"></script>
    <script src="static/lib/js/jquery.colorbox-min.js"></script>
    <script src="static/lib/js/bootstrap.js"></script>
    <script src="static/lib/select2/select2.min.js"></script>
    <script src="static/lib/angular/angular.min.js"></script> 
    <script src="static/lib/angular/angular-cookies.js"></script> 
    <script src="static/lib/js/raphael-min.js"></script> 
    <script src="static/lib/js/kartograph.js"></script> 
    <script src="static/lib/js/chroma.min.js"></script> 
    <script src="static/lib/js/jquery.qtip.min.js"></script> 

    <script src="static/js/map.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/js/controllers.js"></script>
    <script src="static/js/services.js"></script>
    <script src="static/js/filters.js"></script>
    <script src="static/js/directives.js"></script>

  </body>
</html>

