  <!--[if lte IE 8]>
  <div class="alert alert-danger old-browser">
    Používáte <b>zastaralou verzi prohlížeče</b>, ve které aplikace
    <b>nemusí fungovat správně</b>. 
    Pro optimální fungování aplikace doporučujeme nainstalovat 
    aktuální verzi některého z běžně používaných prohlížečů. 
    Například:
    <a href="https://www.google.com/intl/cs/chrome/browser/">Google Chrome</a>,
    <a href="http://www.mozilla.org/cs/firefox/new/">Firefox</a>,
    <a href="http://windows.microsoft.com/cs-CZ/internet-explorer/download-ie">
        Internet explorer
    </a>
  </div>
  <![endif]-->
  <center class="map-container welcome-page jumbotron">
      <h1 >Slepé Mapy</h1>
      <div class="col-lg-8 col-sm-11 col-12">
        <div class="flatblock block-welcome_page">
            <div class="flatblock-content">je aplikace na procvičování znalosti slepých map.
              Aplikace přizpůsobuje obtížnost otázek znalostem studenta.
            </div>
            <a href="#/practice/" class="btn btn-primary btn-lg btn-huge" >Začít procvičovat svět</a>
            <div class="flatblock-content">Kromě slepé mapy světa můžete procvičovat
              mapy jednotlivých kontinentů (Afrika, Severní a Jižní Amerika, Asie,&nbsp;...)
              a vybraných států (USA, ČR, Německo,&nbsp;...)
            </div>
        </div>
      </div>
  </center>
        {% include "home/how_it_works.html" %}
