  <center class="map-container welcome-page jumbotron">
      <h1 >Slepé Mapy</h1>
      <div class="col-lg-8 col-sm-11 col-12">
        <div class="flatblock block-welcome_page">
            <div class="flatblock-content">je aplikace na procvičování znalosti slepých map.
        Aplikace přizpůsobuje obtížnost otázek znalostem studenta.</div>
        </div>
      <a href="#/practice/" class="btn btn-primary btn-lg btn-huge" >Začít procvičovat</a>
      </div>
  </center>
        {% include "home/how_it_works.html" %}