  <!--[if lte IE 8]>
  <div class="alert alert-danger old-browser">
    Používáte <b>zastaralou verzi prohlížeče</b>, ve které aplikace
    <b>nemusí fungovat správně</b>. 
    Pro optimální fungování aplikace doporučujeme nainstalovat 
    aktuální verzi některého z běžně používaných prohlížečů. 
    Například:
    <a href="https://www.google.com/intl/cs/chrome/browser/">Google Chrome</a>,
    <a href="http://www.mozilla.org/cs/firefox/new/">Firefox</a>,
    <a href="http://windows.microsoft.com/cs-CZ/internet-explorer/download-ie">
        Internet explorer
    </a>
  </div>
  <![endif]-->
  <div class="map-container welcome-page jumbotron">
      <h1 >Slepé Mapy</h1>
      <div class="flatblock block-welcome_page col-md-offset-1 col-md-10 col-lg-offset-3 col-lg-6">
        <div class="flatblock-content">je aplikace na procvičování znalosti slepých map.
          Aplikace přizpůsobuje obtížnost otázek vašim znalostem.
        </div>
        <div class="btn-centerer">
          <a href="#/practice/" class="btn btn-primary btn-lg btn-huge" >Začít procvičovat svět</a>
        </div>
        <div class="flatblock-content">Kromě slepé mapy světa můžete procvičovat
          mapy jednotlivých kontinentů (Afrika, Severní a Jižní Amerika, Asie,&nbsp;...)
          a vybraných států (USA, ČR, Německo,&nbsp;...)
        </div>
      </div>
  </div>
        {% include "home/how_it_works.html" %}
