<div class="overview">
  <h1>{{'Přehled map' | translate }} {{user}}</h1>
  <div ng-hide="mapCategories && statsLoaded" class="loading-indicator">
  </div>
  <div class="map-categories" ng-repeat="c in mapCategories">
      <h2 class="col-md-offset-1" ng-hide="c.identifier == 'world'"> 
        {{c.name}}
      </h2>
      <ul>
        <li class="overview-row" ng-repeat="map in c.maps">
          <h3 class="col-md-offset-1 col-sm-2"><a href="/view/{{map.identifier}}/{{user}}">{{map.name}}</a>
            <div class="map-progress" count="{{map.placesTypes|sumCounts}}" 
                 skills="{{mapSkills(map)}}">
            </div>
          </h3>
          <ul class="col-sm-10 col-md-8">
            <li class="inline-block" ng-repeat="type in map.placeTypes"
                ng-if="type.stats.number_of_items != 0">
              <a href="/practice/{{map.identifier}}/{{type.identifier}}" 
                style="background-image :
                url('/media/_versions/{{map.identifier}}-{{type.identifier}}_medium.png'); "
                 class="btn-map"
                 tooltip="{{'Procvičovat'| translate }}">
                 <div class="cloak"></div>
                 <span>{{type.name}}</span>
                 </a>
              <div class="map-progress" 
                   skills="{{mapSkills(map, type)}}">
              </div>
               <span
                ng-if="refreshthumbs"
                style="background-image :
                url('/admin/filebrowser/detail/?filename={{map.identifier}}-{{type.identifier}}.png'); "></span>
            </li>
          </ul>
          <div class="clearfix"></div>
        </li>
      </ul>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
