<blind-map code="{{part}}" show-tooltips="true" map="imageController" ></blind-map>
<div id="container">
  <div ng-hide="placesTypes || error" class="loading-indicator">
  </div>
  <div ng-show="error" error-message ></div>
  <div ng-show="placesTypes.length" class="layers-tabs">
    <div class="tab inline-tab"
        ng-class="{'active' : !type.hidden}"
        ng-repeat="type in placesTypes" 
        ng-show="type.stats.number_of_flashcards"
        ng-click="updateMap(type)">
      <h2>
        {{type.name}}
      </h2>
    </div>
    <div class="clearfix"></div>
  </div>
  <div ng-show="placesTypes.length" class="layers-tabs"
      ng-if="!type.hidden && type.stats.number_of_flashcards"
      ng-repeat="type in placesTypes" >
        <div class="col-sm-12" ng-if="type.stats && !average" >
          <div class="map-progress" skills="{{ type.stats }}"></div>
        </div>
        <div class="col-sm-12">
          <a href="/practice/{{part}}/{{type.identifier}}" 
              ng-if="!type.subtypes || part != 'europe'"
              ng-click="setClickHack()"
              class="btn btn-primary pull-right"  >
            <i class="glyphicon glyphicon-check"></i> {{'Procvičovat' | translate }}
          </a>
          <span class="dropdown pull-right"
              ng-if="type.subtypes && part == 'europe'"
              ng-click="setClickHack()">
            <a id="drop-{{type.identifier}}" href=""
                class="btn btn-primary dropdown-toggle pull-right" data-toggle="dropdown">
              <i class="glyphicon glyphicon-check"></i> {{'Procvičovat' | translate }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu"
                aria-labelledby="drop-continents" id="menu-list-contents">
              <li>
                <a href="/practice/{{part}}/{{type.identifier}}" >
                  {{type.name}}
                </a>
              </li>
              <li ng-repeat="subtype in type.subtypes">
                <a href="/practice/{{part}}/{{subtype.identifier}}" >
                  {{subtype.name}}
                </a>
              </li>
            </ul>
          </span>
        </div>
        <div class="clearfix"></div>
        <div class="view-places">
          <div ng-hide="type.loaded || error" class="loading-indicator">
          </div>
          <div ng-hide="(type.places|filter:{practiced:true}).length || !type.loaded" class="alert alert-info">
            {{'Zde zatím nebylo nic procvičováno.' | translate }}
          </div>
          <span ng-repeat="place in type.places|filter:{practiced:true}"
                ng-click="placeClick(place)"
                style="border-bottom: 5px solid {{place.prediction|probColor}};"
                place-label>
          </span>
          <div class="clearfix"></div>
        </div>
  </div>
</div>
