<!DOCTYPE html>
<html data-ng-app="blindMaps" data-ng-controller="AppCtrl" lang="cs">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}Slepé Mapy - inteligentní aplikace na procvičování zeměpisu</title>
    {% if isProduction  %}
        <script type='text/javascript'>
        window.Muscula = { settings:{
            logId:"c851276b-6467-4182-a63a-045d86e9974a", suppressErrors: false, branding: 'none'
        }};
        (function () {
            var m = document.createElement('script'); m.type = 'text/javascript'; m.async = true;
            m.src = (window.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//musculahq.appspot.com/Muscula.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(m, s);
            window.Muscula.run=function(c){eval(c);window.Muscula.run=function(){};};
            window.Muscula.errors=[];window.onerror=function(){window.Muscula.errors.push(arguments);
            return window.Muscula.settings.suppressErrors===undefined;}
        })();
        </script>
	{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Inteligentní aplikace na procvičování
    států a měst na slepé mapě světa, Evropy, Asie, Afriky, Ameriky, ČR, usa
    a dalších států">
    <meta name="keywords" content="slepé mapy, zeměpis, státy, procvičování, svět, amerika, afrika, asie, usa" />

    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>

    <!-- Le styles -->
    <style>
        {% include "home/above-fold-bootstrap.css" %}
        {% include "home/above-fold.css" %}
    </style>

  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
  <div id="wrap">
    <!-- Navbar
    ================================================== -->


    <div class="navbar navbar-inverse">
        <div class="container">

    <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

      <a class="navbar-brand" href="#">Slepé Mapy</a>
      <div id="nav-main" class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav  pull-left">
                <li ng-class="'/view/world/'|isActive">
                  <a href="#/view/world/">Svět</a>
                </li>
                <li class="dropdown">
                  <a id="drop-continents" href=""  class="dropdown-toggle" data-toggle="dropdown">Kontinenty <b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop-continents">
                    {% for continent in continents %}
                    <li><a href="#/view/{{ continent.code }}/">{{ continent.name }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                <li class="dropdown">
                  <a id="drop-states" href=""  class="dropdown-toggle" data-toggle="dropdown">Státy <b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop-continents">
                    {% for state in states %}
                    <li><a href="#/view/{{ state.code }}/">{{ state.name }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                <li ng-class="'/how_it_works'|isActive">
                  <a href="#/how_it_works">Jak to funguje?</a>
                </li>
        </ul>
          ...
            <ul class="nav ng-cloak navbar-nav pull-right"
                ng-init="initUser('{{user.username}}',{{user.points}})">
                <li class="dropdown" ng-show="user.username === ''" >
                  <a href="" 
                     role="button" 
                     class="dropdown-toggle atooltip drop-login"
                     title="Přihlašte se jednoduše přes Google nebo Facebook, aby si systém váše znalosti pamatoval i příště."
                     data-toggle="dropdown">
                    Přihlásit se <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu login" role="menu" aria-labelledby="drop-login">
                    <li>
                      <a class="btn btn-danger btn-lg btn-block" href="/login/google/">
                        <i class="social-google"></i> přes Google
                      </a>
                    </li>
                    <li>
                      <a class="btn btn-primary btn-lg btn-block" href="/login/facebook/">
                        <i class="social-facebook"></i> přes Facebook
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown" ng-show="user.username !== ''">
                  <a id="drop1" href="" role="button" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i> <span ng-bind="user.username"></span> <b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    <li class="forgot-pwd"><a href="#/" ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> Odhlásit se</a></li>
                  </ul>
                </li>
              <li class="atooltip points" title="Body - přibývají za každou správnou odpověď" ng-show="user.points">
                <a><span class="badge" ng-bind="user.points"></span></a>
              </li>
            </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div>
    <!-- Main content
    ================================================== -->
    <div data-ng-view id="ng-view" ng-class="vip() && 'vip'">
        {% include "home/welcome_page.html" %}
    </div>
  </div>

    <div id="footer">
        Vyvíjeno na <a href="http://www.fi.muni.cz/">FI MU</a>, všechny připomínky velmi vítány:
        <span class="email contact">slepemapy{zavinac}googlegroups.com</span>
        <a class="contact" href="https://plus.google.com/+SlepemapyCz/">Google+</a>
        <a class="contact" href="https://www.facebook.com/slepemapy">Facebook</a>
    </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript">
        {% include "home/hash.js" %}
    </script>
    {% for file in js_files %}
    <script src="{{ file }}"></script>
    {% endfor %}

    {% for file in css_files %}
    <link href="{{ file }}" rel="stylesheet">
    {% endfor %}

    {% if isProduction  %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-43054672-1', 'slepemapy.cz');

        </script>
    {% endif %}
  </body>
</html>

