svg
  path
    cursor: pointer
    fill-opacity: 1
    &:hover
      fill-opacity: 0.8
  path.bg,
    cursor: default
    &:hover
      fill-opacity: 1
  .city, 
  .river
    &:hover
      fill-opacity: 1
  .lake,
  .sea
    stroke: #53a5df
