$blue-top: #73c5ef
$blue-bottom: #1a82f7
$map-height:500px

.map-container
  height: $map-height
  background-color: $blue-top
  background: -webkit-linear-gradient(top, $blue-top, $blue-bottom)
  background: -moz-linear-gradient(top, $blue-top, $blue-bottom)
  background: -o-linear-gradient(top, $blue-top, $blue-bottom)
  background: -ms-linear-gradient(top, $blue-top, $blue-bottom)
  box-shadow: 0px 0px 20px #888
  color: white
  text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.8), 0 0 30px rgba(0, 0, 0, 0.075)

  .map-positioner
    position: relative
    display: inline-block
    height: $map-height
    width: 700px

    h1
      position: absolute
      left: -70px
      top: 0px

  #map-holder
    height: $map-height
    position: relative

  .loading-indicator
    background-image: url(../img/map-ajax-loader.gif)

  .btn-practice
    position: absolute
    bottom: 10px
    right: 10px
  .map-label
    position: absolute
    vertical-align: middle
    display: table
    span
      font-weight: bold
      color: white
      text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.8), 0 0 30px rgba(0, 0, 0, 0.075)
      position: relative
      z-index: 10
      display: table-cell
      vertical-align: middle
      line-height: 100%
