@media (max-width: 979px)
  body
    padding-top: 0px
  .map-container
    margin-top: -20px
    .map-positioner
      h1
        left: 10px
        bottom: -10px
        z-index: 20
  .version
    display: none

@media (max-width: 767px)
  .map-container
    margin-right: -20px
    margin-left: -20px
    height: auto
    .map-positioner
      height: auto
      width: 100%
      h1
        position: relative
        text-align: left
        margin-top: -30px
        margin-bottom: 10px
        margin-right: 150px
      #map-holder
        margin-bottom: 20px

