<div class="modal-header">
    <h3 class="modal-title">{{ "Napište nám" | trans }}</h3>
</div>
<div class="modal-body">
    <label>
      {{ "Feedback text label" | trans }}
    </label>
    <textarea ng-model="feedback.text" class="form-control" rows="8" ></textarea>
    <label>
      {{ "Vaše emailová adresa (nepovinné)" | trans }}
    </label>
    <input type="text" ng-model="feedback.email" class="form-control"/>
    <br>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}"
    close="closeAlert($index)">{{alert.msg}}</alert>
</div>
<div class="modal-footer">
    <button ng-disabled="sending" class="btn btn-primary" ng-click="send()">
      {{ "Odeslat" | trans }}
    </button>
    <button class="btn btn-danger" ng-click="cancel()">
      {{ "Zavřít" | trans }}
    </button>
</div>

