<div class="modal-header text-center">
    <h3 class="modal-title">{{ "Jak těžké jsou kladené otázky?" | trans }}</h3>
      {{ "Svou odpovědí nám pomáháte přizpůsobovat obtížnost otázek." | trans }}
</div>
<div class="rating modal-body">
  <div class=" text-center" ng-hide="answer">
    <a class="btn btn-lg btn-success" ng-click="vote(1)">
      {{ "Příliš lehké" | trans }}
    </a>
    <a class="btn btn-lg btn-primary" ng-click="vote(2)">
      {{ "Tak akorát" | trans }}
    </a>
    <a class="btn btn-lg btn-danger" ng-click="vote(3)">
      {{ "Příliš těžké" | trans }}
    </a>
  <a class="pull-right" href="" ng-click="cancel()">
    {{ "Nevím / nechci odpovídat" | trans }}
  </a>
  <div class="clearfix"></div>
  </div>
  <alert ng-repeat="alert in alerts" type="{{alert.type}}"
  close="closeAlert($index)">{{alert.msg}}</alert>
</div>
<div class="modal-footer" ng-show="answer">
    <button class="btn btn-danger" ng-click="cancel()">
      {{ "Zavřít" | trans }}
    </button>
</div>
