<blind-map code="{{part}}" practice="true" ></blind-map>
<div id="container">
  <div ng-show="!placesTypes" class="loading-indicator">
  </div>
  <div ng-show="placesTypes.length == 0" style="text-align: center;" >
    <h2>Zatím na této mapě nebylo nic procvičováno.</h2>
    <a href="#/practice/{{part}}/" class="btn btn-primary btn-lg" >
        Začít procvičovat
    </a>
  </div>
  <ul class="thumbnails">
    <li class="col-sm-{{placesTypes.length|colNum}}" 
        ng-repeat="type in placesTypes">
      <h3 data-toggle="collapse" 
          data-target="#collapse-{{type.slug}}"
          ng-click="updateMap(type)">
        <i class="glyphicon {{type.hidden && 'glyphicon-plus-sign' || 'glyphicon-minus-sign'}}"></i>
        {{type.name}}
        <a href="#/practice/{{part}}/{{type.slug}}" 
           class="btn btn-primary pull-right" 
           ng-show="placesTypes.length > 1" >
          Procvičovat {{type.name|lowercase}}
        </a>
      </h3>
      <div class="view-places collapse in" id="collapse-{{type.slug}}">
        <span ng-repeat="place in type.places"
              ng-click="placeClick(place)"
              place-label>
        </span>
        <div class="clearfix"></div>
      </div>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>
