  <center class="map-container">
    <div>
    <div class="map-positioner">
      <div id="map-holder">
        <div class="loading-indicator"></div>
      </div>
      <h1 ng-show="user == ''" ng-bind="name"></h1>
      <h1 ng-show="user != ''" ng-bind="user"></h1>
      <a  ng-show="user == ''" href="#/practice/{{part}}" class="btn btn-primary btn-large btn-practice" >Procvičovat</a>
      <!--<a href="#/practice/{{part}}" class="btn btn-primary btn-large btn-practice" ng-disabled="practiceCount == 0" >Procvičovat ({{practiceCount}})</a>-->
    </div>
    </div>
  </center>
  <div id="container" class="col-sm-11 well">
    <div ng-show="!placesTypes" class="loading-indicator">
    </div>
    <ul class="thumbnails">
      <li class="col-sm-{{12/placesTypes.length}}" ng-repeat="type in placesTypes">
        <div class="thumbnail">
          <h3>{{type.name}}</h3>
          <div class="view-places">
          <span ng-repeat="place in type.places" ng-switch="type.haveMaps || place.code == 'us'" class="" ng-mouseenter="hover(place.code, true)" ng-mouseleave="hover(place.code, false)">
              <a href="#/view/{{place.code}}/{{user}}" ng-switch-when="true" class="btn btn-small">
                <i class="flag-{{place.code}}"></i> {{place.name || place}}
              </a>
              <span ng-switch-default class="label">
                <i class="flag-{{place.code}}"></i> {{place.name || place}}
              </span>
          </span>
          <div class="clearfix"></div>
          <!--<a href="#/practice/{{part}}/{{type.name}}" class="btn btn-primary" >Procvičovat</a>-->
          </div>
        </div>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
