  <!--[if lte IE 8]>
  <div class="alert alert-danger old-browser">
    Používáte <b>zastaralou verzi prohlížeče</b>, ve které aplikace
    <b>nemusí fungovat správně</b>. 
    Pro optimální fungování aplikace doporučujeme nainstalovat 
    aktuální verzi některého z běžně používaných prohlížečů. 
    Například:
    <a href="https://www.google.com/intl/cs/chrome/browser/">Google Chrome</a>,
    <a href="http://www.mozilla.org/cs/firefox/new/">Firefox</a>,
    <a href="http://windows.microsoft.com/cs-CZ/internet-explorer/download-ie">
        Internet explorer
    </a>
  </div>
  <![endif]-->
  <!--
 {% load i18n %}
    -->
  <div ng-if="language_code=='en'" class="ng-cloak">
    <div class="alert alert-danger old-browser">
      Please, note that English localization of this app is work in progress. 
      There are some parts that haven't been translated, yet.
    </div>
  </div>
  <div class="welcome-page jumbotron">
      <h1 >{{ "Slepé Mapy"|trans }}</h1>
      <div class="flatblock block-welcome_page col-md-offset-1 col-md-10 col-lg-offset-3 col-lg-6">
        <div class="flatblock-content">{{ "Co chcete procvičovat?" | trans }}
        </div>
          <a href="#/practice/world/state" class="btn btn-primary btn-lg btn-huge" >
            {{"Státy světa" | trans }}
          </a>
          <a href="#/practice/europe/state" class="btn btn-default btn-lg btn-huge" >
            {{"Státy Evropy" | trans }}
          </a>
          <a href="#/practice/us/state" class="btn btn-default btn-lg btn-huge" >
            {{"Státy USA" | trans }}
          </a>
          <a href="#/practice/cz/region_cz" class="btn btn-default btn-lg btn-huge" >
            {{"Kraje ČR" | trans }}
          </a>
          <a href="#/practice/cz/city" class="btn btn-default btn-lg btn-huge" >
            {{"Města ČR" | trans }}
          </a>
          <a href="#/practice/europe/mountains" class="btn btn-default btn-lg btn-huge" >
            {{"Pohoří Evropy" | trans }}
          </a>
        <div class="flatblock-content">
          ... <a href="#/overview/">{{"nebo něco jiného" | trans }}</a>?
        </div>
        <div class="plugins-social">
          <div class="g-plusone" data-size="medium"></div>
          <div class="fb-like" data-href="https://www.facebook.com/slepemapy" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
      </div>
  </div>

<div class="how-it-works">
<h2>{{"Jak to funguje?" | trans }}</h2>
<div class="col-md-offset-1 col-md-10 col-lg-offset-3 col-lg-6">

<div class="works-div">
<h3><i class="glyphicon glyphicon-tower"></i>{{"Zeměpis hrou" | trans }}</h3>
{{"Procvičte si své znalosti zeměpisu hravou formou. V aktuální verzi zatím soutěžíte jen sami se sebou, respektive proti systému. Dokážete obarvit na zeleno celou mapu Evropy? Celou ČR? A co celý svět?" | trans}}
</div>

<div class="works-div">
<h3><i class="glyphicon glyphicon-dashboard"></i> {{"Adaptabilní procvičování" | trans}}</h3>
{{"Systém vás zkouší ze znalosti slepých map, přičemž chování systému je adaptabilní - podle toho, jaké máte vědomosti, aplikace volí podobu otázek (otevřená, výběr z možností) a frekvenci opakování. Aplikace vám tak předkládá státy, jejichž procvičení je pro vás nejužitečnější." | trans}}
</div>

<div class="works-div">
<h3><i class="glyphicon glyphicon-picture"></i> {{"Vizualizace znalostí" | trans}}</h3>
{{"Na základě odpovědí systém odhadne jak dobře znáte různé státy a znázorní vám mapu vašich znalostí, což vám pomůže ujasnit si, co vlastně umíte." | trans}}
</div>

<div class="works-div">
<h3><i class="glyphicon glyphicon-globe"></i> {{"Specializovaný systém" | trans}}</h3>
{{"Procvičování slepých map nabízí i řada jiných výukových systémů, ty však většinou pokrývají mnoho dílčích oblastí. Náš systém se soustředí pouze na slepé mapy, díky čemuž je pro učení v této oblasti optimalizovaný." | trans}}
</div>

<div class="works-div">
<h3><i class="glyphicon glyphicon-stats"></i> {{"Učení z dat" | trans}}</h3>
{{'Aplikace se učí z dat od všech uživatelů. Výběr otázek je založen na těchto datech, nikoliv na znalostech experta na zeměpis, který "ví", jestli je těžší poznat Keňu nebo Nigérii.' | trans}}
</div>
</div>
<div class="clearfix"></div>
</div>
