<blind-map code="{{part}}" map="map" callback="mapCallback()" ></blind-map>
<div class="progress quesions-progress">
  <div class="progress-bar" style="width: {{progress}}%;"></div>
</div>
<div id="container" class="practice-container">
  <div ng-hide="question || showSummary || error" class="loading-indicator">
  </div>
  <div ng-show="error" ng-bind="error" class="alert alert-danger">
  </div>
  <div ng-show="question != undefined && !showSummary" class="practice">
    <div class="question">
      <span>{{question.text}} </span>
      <span class="label label-default" ng-show="question|isFindOnMapType">
        <i class="flag-{{question.asked_code}}"></i> {{question.place}}
      </span>
      <span ng-show="question.answered_code && (question|isFindOnMapType) && question.answered_code != question.asked_code">
        <span>Vybráno </span>
        <span class="label label-default">
          <i class="flag-{{question.answered_code}}"></i> {{question.answered_code|codeToName}}
        </span>
      </span>
      <br class="clearfix">
    </div>
    <span class="col-sm-7">
      <span ng-show="question|isPickNameOfType">
        <button ng-repeat="place in question.options"
          class="btn btn-lg btn-default"
          ng-click="checkAnswer(place.code)"
          ng-class="{'btn-success': place.correct, 'btn-danger': place.selected && !place.correct }"
          ng-disabled="place.disabled">
           <i class="flag-{{place.code}}"></i> {{place.name}}
        </button>
      </span>
    </span>
    <span class="col-sm-5" >
      <button class="btn btn-lg btn-default" 
              ng-click="checkAnswer()" 
              ng-disabled="canNext" >
          <i class="glyphicon glyphicon-question-sign"></i> Nevím
      </button>
      <button class="btn btn-lg btn-default {{!canNext || 'btn-primary'}}" 
              ng-click="next()" 
              ng-disabled="!canNext" >
          <i class="glyphicon glyphicon-arrow-right"></i> Pokračovat
      </button>
      <button class="btn btn-lg btn-default" 
              ng-click="highlight()" 
              ng-disabled="canNext"  
              ng-show="question.options != undefined" >
          <i class="glyphicon glyphicon-repeat"></i> Znovu zvýraznit
      </button>
    </span>
  </div>
  <div ng-show="showSummary" class="summary col-lg-12">
    <div>
      <div class="progress" ng-show="summary != undefined">
        <div class="progress-bar progress-bar-success" 
             style="width: {{summary.correctlyAnsweredRatio | percent }};">
          Úspěšnost: {{summary.correctlyAnsweredRatio | percent }}
        </div>
        <div class="progress-bar progress-bar-danger" 
             style="width: {{(1 - summary.correctlyAnsweredRatio) | percent }};">
        </div>
      </div>
      <h2 ng-show="errorMessage != undefined" ng-bind="errorMessage"></h2>
      <div>
        <span ng-repeat="q in summary.questions" 
              class="label {{q.asked_code != q.answered_code && 'label-danger' || 'label-success' }} ">
          <i class="flag-{{q.asked_code}}"></i> {{q.place}}
        </span>
      </div>
    </div>
    <br>
    <span class="pull-right" >
      <a class="btn btn-lg btn-default" 
         href="#/refreshpractice/{{part}}/{{placeType}}" >
        <i class="glyphicon glyphicon-repeat"></i> Znovu procvičovat
      </a>
      <a class="btn-continue btn btn-lg btn-default {{!showSummary || 'btn-primary'}}" 
         href="#/view/{{part}}/" >
        <i class="glyphicon glyphicon-globe"></i> Mapa znalostí
      </a>
    </span>
  </div>
  <div class="clearfix"></div>
</div>
