<div class="overview">
  <div class="col-sm-offset-2 col-sm-8">
    <h1>{{user.username}}</h1>
    <center>
    <span class="level-progress-bar" username="{{user.username}}"></span>
    </center>
    <dl class="points" ng-show="user.points">
      <dt>{{'Body' | trans }}</dt>
      <dd class="badge" ng-bind="user.points"
        tooltip="{{'přibývají za každou správnou odpověď' | trans }}" 
        tooltip-placement="bottom" ></dd>
    </dl>
    <dl>
      <dt>{{'Jméno' | trans }}</dt>
      <dd>{{user.first_name}}</dd>
    </dl>
    <dl>
      <dt>{{'Příjmení' | trans }}</dt>
      <dd>{{user.last_name}}</dd>
    </dl>
    <dl ng-show="editRights">
      <dt>{{'E-mail' | trans }}</dt>
      <dd>{{user.email}}</dd>
    </dl>
    <a href="#/overview/{{user.username}}">
      {{'Přehled znalostí uživatele' | trans}} {{ user.username}}
    </a>
    <div ng-show="editRights">
      <br>
      <h4>{{'Sdílejte svůj profil' | trans }}</h4>
      <div my-fb-share="" data-type="button" data-href="{{profileUrl}}"></div>
      <!-- Place this tag where you want the share button to render. -->
      <span class="g-plus-wrapper">
        <div my-google-plus="" data-action="share"
          data-annotation="none" data-height="24">
        </div>
      </span>
      <input type="text" value="{{profileUrl}}" class="share-input"
        tooltip-placement="right"
        tooltip="{{'Adresa profilu' | trans}}"/>

    </div>

    <h2>
      {{'Osobní cíle' | trans }}
      <i ng-click="addGoal()" ng-show="editRights"
         tooltip="{{'Vytvořit cíl' | trans }}"
         class="pull-right glyphicon glyphicon-plus-sign"></i>
    </h2>
    <div ng-hide="loaded" class="loading-indicator">
    </div>
    <div class="alert alert-info" ng-show="goals.length === 0">
      {{'Žádné cíle zatím nebyly stanoveny' | trans }}
    </div>
    <div ng-repeat="goal in goals" class="well goal">
        <span class="btn-group pull-right" ng-show="editRights">
          <a href="#/practice/{{goal.map.code}}/{{goal.type.slug}}" 
             tooltip="{{'Dnes již není třeba procvičovat' | trans}}"
             tooltip-trigger="{{ goal.needs_practice ? 'none' : 'mouseenter'}}" 
             tooltip-append-to-body="true"
             class="btn btn-primary">
             <i class="glyphicon glyphicon-check"></i> 
             {{'Procvičovat'| trans}}</a>
          <a ng-click="deleteGoal(goal)"
             ng-disabled="!goal.can_be_deleted"
             tooltip="{{'Odstranit cíl - lze jen v den jeho vytvoření' | trans}}"
             tooltip-append-to-body="true"
             class="btn btn-default">
             <i ng-hide="goal.deleting" class="glyphicon glyphicon-trash"></i> 
             <i ng-show="goal.deleting" class="icon-loading"></i> 
          </a>
         </span>
      <h3>{{goal.map.name}} - {{goal.type.name}}
      </h3>
      <div class="clearfix"></div>
      <div>
        <span class="pull-left start-date"> {{goal.start_date | date}} </span>
        <span class="pull-right finish-date"> {{goal.finish_date | date}} </span>
        <div class="progress"
            tooltip-placement="bottom"
            tooltip="{{'Postup plnění cíle' | trans }}">
          <span style="width: {{goal.progress|percent}}"
            tooltip="{{'Splněno' | trans }}"
            class="progress-bar progress-bar-learned"></span>
          <span style="width: {{goal.progress_diff|percent}}"
            ng-show="goal.needs_practice && !goal.behind_schedule"
            tooltip="{{'Dnešní nesplněné procvičování' | trans }}"
            class="progress-bar progress-bar-warning"></span>
          <span style="width: {{goal.progress_diff|percent}}"
            ng-show="goal.behind_schedule"
            tooltip="{{'Více než den nesplněného procvičování' | trans }}"
            class="progress-bar progress-bar-unlearned"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
